.header {
  .btn {
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: $color-2;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
  .responsive-btn {
    display: none;
  }

  nav {
    width: 100%;
    background: $color-4;
    border-radius: 15px;
    height: 60px;

    label,
    #toggle {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: auto;
      height: 60px;
      align-items: center;

      li,
      a {
        font-size: 1.2rem;
        border-radius: 15px;
        padding: 3px;

        &:hover {
          background: $color-2;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      ul {
        width: 90%;
      }
    }

    @media screen and (max-width: 768px) {
      .responsive-btn {
        display: flex;
        margin: auto;
        margin-top: 4%;
      }
      border-radius: 0;
      ul {
        display: none;
        flex-direction: column;
        background: $color-4;
        width: 100%;
        height: auto;
        padding: 0;
        li,
        a {
          margin: 1% auto;
          padding: 0;

          &:hover {
            background: none;
          }
        }
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        cursor: pointer;
      }
      .inside-nav {
        display: none;
      }

      #toggle:checked + ul {
        display: flex;
      }
    }
  }
}
