/* colors */

$color-1: #6a645a;
$color-2: #e3cd8b;
$color-3: #5d7052;
$color-4: #c18845;
$color-5: #f0be86;

$white: #ffffff;
$black: #000000;

li,
a {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  color: #262626;

  &:hover {
    color: $black;
  }
}
