.add-annonce {
  width: 90%;
  max-width: 900px;
  margin: 2% auto;
  background: $color-1;
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
    border: 3px solid $color-2;
    border-radius: 10px;

    legend {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2%;
      margin-top: 2%;
      font-weight: bold;
    }

    label {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 2%;
    }

    input,
    select,
    textarea {
      width: 60%;
      margin: auto;
      margin-bottom: 2%;
      padding: 5px;
    }

    .preview {
      display: flex;
      margin: 0 10% 2% 10%;
      .img-container {
        width: 150px;
        height: 150px;
        margin: auto;
        border: solid 2px $color-2;
        background: $white;
        position: relative;

        .file {
          opacity: 0;
        }

        img {
          width: 90%;
          height: 90%;
          margin: 5%;
          object-fit: cover;
        }
        .icon-preview {
          background: $color-2;
          width: 25px;
          height: 25px;
          padding: 3px;
          position: absolute;
          cursor: pointer;

          &.upload {
            bottom: 10px;
            left: 10px;
          }

          &.trash {
            bottom: 10px;
            right: 10px;
          }
        }
      }
    }

    .price-input {
      width: 80px;
      margin: auto;
      margin-bottom: 2%;
      position: relative;

      input {
        margin: auto;
        width: 100%;
        height: 100%;
        padding: 5px;
      }

      i {
        position: absolute;
        height: 20px;
        right: 5px;
        top: 5px;
      }
    }
  }
}
