// colors

$color-1: #ecf8f8;
$color-2: #387d7a;
$color-3: #ffbf46;
$color-4: #24752d;
$color-5: #2f2d2e;

$black: #1e0f1c;
$white: #fbfbfb;

//fonts

@font-face {
  font-family: "alien";
  src: url("../assets/fonts/alien-wars.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

$font-1: "alien";
$font-2: "poppins";

// *

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
